.pokemon {
    height: 6rem;
    width: 12rem;

    background-color: #aaaaaa;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.idName {
    /*max-height: 2rem;*/
    align-items: start;
    display: flex;
}
.idName > p {
    max-height: 1rem;
    max-width: 1rem;
    font-size: 14px;
}
.idName > h2 {
    max-height: 1rem;
    max-width: 10rem;
    font-size: 20px;
    text-transform: capitalize;
}
.sprite {
    max-height: 5rem;
    background-color: rgba(20, 20, 20, .4);
    border-radius: 12px;
}

.pokemonList {
    justify-content: space-around;
}

.pokeDetail {
    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;

    border: solid 1px black;
    border-radius: 10px;
}